@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");
$font-family-primary: "Jost", sans-serif;
$color-primary: #293462;
$color-secondary: #d61c4e;
$color-tertiary: #feb139;
